.header {
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
  }
  
  .logoHeader {
    display: flex;
    width: 23vw;
    justify-content: space-around;
    align-items: center;
    img{
      width: 5vw;
    }
    h1{
      color: #fff;
      font-size: 20px;
    }
  }
  
  .navHeader {
    width: 35vw;
  
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-size: 17px;
      a{
        color: #fff;
      }
    }
  }
  
  .barraDeBusca {
    border: solid 2px #fff;
    border-radius: 15px;
    margin-right: 20px;
    width: 17vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    input {
      outline: none;
      color: white;
      background-color: transparent;
      border: none;
      height: 5vh;
      padding-left: 6px;
      font-size: 11px;
      width: 12vw;
      &::placeholder {
        color: #fff;
      }
    }
  }

@media(max-width: 1168px){
  .logoHeader{
    width: 25vw;
    img{
      width: 5vw;
    }
    h1{
      font-size: 2vw;
    }
  }
  .barraDeBusca{
    input{
      &::placeholder{
        font-size: 1vw;
      }
    }
  }
  .navHeader{
    ul{
      font-size: 1.6vw;

    }
  }
  
}
@media(max-width: 780px){
  .header{
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
  }
  .barraDeBusca{
    display: none;
  }
  .logoHeader{
    width: 80%;
    h1{
      font-size: 30px;
    }
    img{
      width: 70px;
    }
  }
  .navHeader{
    width: 100%;
    ul{
      justify-content: space-evenly;
      font-size: 21px;
    }
  }
}