
footer{
    // border: solid 2px red;
    height: 30vh;
}
.boxSocial{
    border: solid 2px black;
    background-color: #005695;
    color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    nav{
        width: 19vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

}
.boxAlerta{
    color: white;
    background-color: #232020;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 1000px){
    .boxSocial{
        nav{
            width: 220px;
        }
    }
}
@media(max-width: 479px){
    .boxSocial{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .boxAlerta{
        text-align: center;
    }
}